.coupons{
    padding: 60px 80px;
    padding-bottom: 0;
    width: 100%;
    overflow-x: hidden;
    @media screen and (max-width: 800px) {
        padding: 60px 20px;
    }
    .code{
        display: flex;
        flex-direction: row;
        align-items: center;
        input{
            margin-top: 0;
            width:7rem;
        }
    }
    .coupon__verticalLine {
        height: 2rem;
        width: 3px;
        margin-left: 13.5px;
    }
    h1{
        font-size: 35px;
        font-weight: bold;
        color: #381D59;
    }
    h2{
        font-size: 1em;
        font-weight: bold;
        color: #898989;
    }
    p{
        color: #381D59;
    }
    .steps {
        margin-top: 2rem;
        margin-bottom: 2rem;
        .step{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 25px;
            p{
                margin-left: 0.5rem;
            }
        }
    }
    .coupon{
        position: relative;
        z-index: 0;
        @media screen and (max-width: 450px) {
            width: 90vw;
            img {
                width: 90vw;
            }
            .code {
                display: flex;
                flex-direction: column;
                p, input {
                    margin: 0;
                }
                input {
                    margin-left: 10px !important;
                }
            }
        }
    }
    form{
        z-index: 1;
        position: absolute;
        left: 80px;
        top: 100px;
        @media screen and (max-width: 450px) {
            top: 40px;
            left: 50px;
        }
        label{
            color: #AB70CA;
            margin-left: 10px;
            font-weight: 700;
            @media screen and (max-width: 450px) {
                font-size: 12px;
                font-weight: 600;
            }
        }
        input{
            margin-top: 10px;
            margin-left: 10px;
            box-sizing: border-box;
            border-radius: 4px;
            border: 1.5px solid #AB70CA;
            height: 33px;
            @media screen and (max-width: 450px) {
                height: 24px;
                width: 120px;
            }
        }
        button{
            padding: 7px 27px;
            background-color: #AB70CA;
            color: white;
            margin-top: 20px;
            margin-left: 10px;
            border-radius: 7px;
            font-weight: 300;
            border: none;
            font-family: Poppins;
            cursor: pointer;
            @media screen and (max-width: 450px) {
                font-size: 12px;
                padding: 7px 10px;
            }
        }
        button:disabled,
        button[disabled]{
            padding: 7px 27px;
            background-color: #bd97d1;
            color: white;
            margin-top: 20px;
            margin-left: 10px;
            border-radius: 7px;
            font-weight: 300;
            border: none;
            font-family: Poppins;
            cursor: not-allowed;
       }
    }
    .past{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        gap: 40px;
        .coupon{
            @media screen and (max-width: 450px) {
                .code {
                    display: flex;
                    flex-direction: column;
                    p, input {
                        margin: 0;
                    }
                    input {
                        margin-left: 10px !important;
                    }
                }
            }
        }
    }
}